* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; }

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* 1 - Estilo Header GENERAL-Todas las page */
.custom-navbar {
  background-color: #5cb660; }

.custom-navbar .navbar-nav .nav-link {
  color: #FFFFFF;
  margin-right: 35px;
  font-size: 17px;
  transition: all 0.3s ease; }
  .custom-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold; }

/* SECCION 1 - INICIO */
.app-promo6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url("../img/stacked-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 30px; }

.promo-text6 {
  max-width: 50%;
  text-align: center; }
  .promo-text6 h2 {
    font-size: 3rem;
    margin-bottom: 20px; }
  .promo-text6 p {
    font-size: 1.5rem; }
  .promo-text6 button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto; }
    .promo-text6 button:hover {
      background-color: #f0f0f0; }

.promo-img6 {
  display: flex;
  justify-content: center;
  flex: 1; }
  .promo-img6 img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px; }

/* SECCION 2 - INICIO */
.banner-2 {
  width: 88%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
  gap: 40px; }

.banner-2 .imagen-1 {
  flex: 1; }
  .banner-2 .imagen-1 img {
    width: auto;
    height: 500px;
    border-radius: 10px; }

.banner-2 .texto-banner-2 {
  flex: 1; }
  .banner-2 .texto-banner-2 h1 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 50px;
    color: #5db662;
    text-align: center; }
  .banner-2 .texto-banner-2 p {
    font-weight: 400;
    line-height: 1.6;
    font-size: 25px;
    color: #3b3b3b;
    text-align: center; }

/* SECCION 3 - INICIO */
.titulo-pd {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.titulo-box h2 {
  font-size: 2rem;
  color: #333333; }

/* SECCION 4 - INICIO */
.productos-destacados {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px #50505081;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px; }
  .productos-destacados h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px; }

.productos-destacados .card {
  display: inline-block;
  width: 18rem;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .productos-destacados .card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 300px; }

.productos-destacados .card-body {
  padding: 15px; }

.productos-destacados .card-text {
  margin-bottom: 10px;
  color: #555; }

.productos-destacados .card-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 15px; }

.productos-destacados .btn-primary {
  background-color: #5db662;
  border-color: #5db662;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; }

.productos-destacados .btn-primary:hover {
  background-color: #329c37;
  border-color: #329c37; }

/* SECCION 5 - INICIO */
.app-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-image: url("../img/blob-scene-haikei.svg");
  color: white;
  gap: 10px; }

.promo-text {
  width: 50%;
  text-align: center; }
  .promo-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .promo-text button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; }
    .promo-text button:hover {
      background-color: #f0f0f0; }

.promo-img {
  flex: 1;
  display: flex;
  justify-content: center; }
  .promo-img img {
    max-width: 100%;
    height: auto; }

/* SECCION 6 - INICIO */
.collection-section {
  text-align: center;
  padding: 2rem; }
  .collection-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem; }

.collection-grid {
  display: grid;
  grid-template-areas: "large small1 small2" "large small3 small4";
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem; }

.collection-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px; }
  .collection-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease; }
  .collection-item:hover img {
    transform: scale(1.05); }

.label {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center; }

.large {
  grid-area: large; }

/*/* SECCION 1 - PRODUCTOS-1,2,3*/
.app-promo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url("../img/stacked-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 30px; }

.promo-text2 {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 10px; }
  .promo-text2 h2 {
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2; }

.promo-img2 {
  display: flex;
  justify-content: center;
  flex: 1; }
  .promo-img2 img {
    max-width: 1000px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px; }

/*SECCION 2 - PRODUCTOS-1,2,3*/
.productos_2 {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px #50505081;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; }

.product-grid .card {
  display: inline-block;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .product-grid .card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 300px; }

.product-grid .card-body {
  padding: 15px; }

.product-grid .card-text {
  margin-bottom: 10px;
  color: #555; }

.product-grid .card-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 15px; }

.product-grid .btn-primary {
  background-color: #5db662;
  border-color: #5db662;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; }

.product-grid .btn-primary:hover {
  background-color: #329c37;
  border-color: #329c37; }

/* SECCION 3 - PRODUCTOS-1,2,3*/
.pagination-lg .page-link {
  color: #333333; }

.pagination-lg .page-link:hover {
  color: #333333; }

.pagination-lg .page-item.active .page-link {
  background-color: #329c37;
  border-color: #329c37; }

.pagination {
  display: flex;
  justify-content: center; }

/* SECCION 1 - CONTACTO */
.app-promo3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url("../img/stacked-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 30px; }

.promo-text3 {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 10px; }
  .promo-text3 h2 {
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2; }

.promo-img3 {
  display: flex;
  justify-content: center;
  flex: 1; }
  .promo-img3 img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    margin-left: 10px; }

/* SECCION 2 - CONTACTO */
.contact-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 0; }

.contact-block {
  text-align: center;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .contact-block h3 {
    font-size: 1.5rem;
    margin: 15px 0; }
  .contact-block p {
    font-size: 1rem;
    color: #333; }

.contact-button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #5db662;
  color: white;
  border-radius: 5px;
  text-decoration: none; }
  .contact-button:hover {
    background-color: #329c37; }

.contact-icon {
  font-size: 2rem; }

.social-icons {
  margin-top: 20px; }
  .social-icons a {
    font-size: 50px;
    color: #5db662;
    margin: 0 10px; }
    .social-icons a:hover {
      color: #329c37; }

/* 9- Estilo Seccion 3 - CONTACTO */
.contact-form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto; }
  .contact-form h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px; }
  .contact-form .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .contact-form .form-container form {
      display: flex;
      flex-direction: column; }
      .contact-form .form-container form fieldset {
        border: none;
        padding: 0; }
        .contact-form .form-container form fieldset legend {
          font-size: 1.2em;
          margin-bottom: 10px;
          font-weight: bold;
          color: #333; }
        .contact-form .form-container form fieldset label {
          font-weight: 600;
          margin-top: 10px;
          color: #555; }
        .contact-form .form-container form fieldset input[type="text"],
        .contact-form .form-container form fieldset input[type="email"],
        .contact-form .form-container form fieldset select,
        .contact-form .form-container form fieldset textarea {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 1em;
          color: #333;
          background-color: #f9f9f9; }
          .contact-form .form-container form fieldset input[type="text"]:focus,
          .contact-form .form-container form fieldset input[type="email"]:focus,
          .contact-form .form-container form fieldset select:focus,
          .contact-form .form-container form fieldset textarea:focus {
            border-color: #007bff;
            outline: none; }
        .contact-form .form-container form fieldset .checkbox-container {
          display: flex;
          align-items: center;
          margin-top: 10px; }
          .contact-form .form-container form fieldset .checkbox-container input[type="checkbox"] {
            margin-right: 8px; }
          .contact-form .form-container form fieldset .checkbox-container a {
            color: #007bff;
            text-decoration: none; }
            .contact-form .form-container form fieldset .checkbox-container a:hover {
              text-decoration: underline; }
        .contact-form .form-container form fieldset button {
          display: block;
          margin: 15px auto 0 auto;
          padding: 10px;
          background-color: #5db662;
          color: #fff;
          font-size: 1em;
          border: none;
          border-radius: 4px;
          cursor: pointer; }
          .contact-form .form-container form fieldset button:hover {
            background-color: #329c37; }

/* 11 - Estilo Seccion 1 - NOSOTROS */
.app-promo4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url("../img/stacked-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 30px; }

.promo-text4 {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 10px; }
  .promo-text4 h2 {
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2; }

.promo-img4 {
  display: flex;
  justify-content: center;
  flex: 1; }
  .promo-img4 img {
    max-width: 380px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px; }

/* 12 - Estilo Seccion 2 - NOSOTROS */
.sobre-nosotros {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto; }
  .sobre-nosotros h1 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 20px; }
  .sobre-nosotros p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    text-align: left; }

/* 13 - Estilo Seccion 3 - NOSOTROS */
.datos-breves {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #f7f7f7; }
  .datos-breves .box {
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; }
    .datos-breves .box:hover {
      transform: scale(1.1); }

/* 14 - Estilo Seccion 4 - NOSOTROS */
.clientes {
  padding: 50px;
  text-align: center; }
  .clientes h2 {
    margin-bottom: 30px; }
  .clientes .cliente-img {
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease; }
    .clientes .cliente-img img {
      width: 300px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
    .clientes .cliente-img:hover {
      transform: scale(1.1); }

/* 15 - Estilo Seccion 4 - NOSOTROS */
.ubicacion {
  padding: 50px;
  text-align: center; }
  .ubicacion h2 {
    margin-bottom: 40px;
    font-size: 2rem; }
  .ubicacion .mapa {
    display: flex;
    justify-content: center; }
    .ubicacion .mapa iframe {
      border: none;
      width: 90%;
      max-width: 1800px;
      height: 450px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px; }

/* 16 - Estilo Seccion 1 - PAGOS */
.app-promo5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-image: url("../img/stacked-waves-haikei (2).svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-top: 30px; }

.promo-text5 {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-left: 300px;
  padding-right: 10px; }
  .promo-text5 h2 {
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2; }

.promo-img5 {
  display: flex;
  justify-content: center;
  flex: 1; }
  .promo-img5 img {
    max-width: 390px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px; }

/* 17 - Estilo Seccion 2 - PAGOS */
.formas-de-pago {
  padding: 50px;
  text-align: center; }
  .formas-de-pago h1 {
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .formas-de-pago p {
    margin-bottom: 40px;
    font-size: 1.2rem; }

.metodos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; }

.metodo {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  text-align: center;
  transition: transform 0.3s; }
  .metodo img {
    max-width: 150px;
    margin-bottom: 10px; }
  .metodo h3 {
    margin: 10px 0;
    font-size: 2rem; }
  .metodo p {
    font-size: 1.1rem;
    color: #666; }
  .metodo:hover {
    transform: scale(1.05); }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #5cb660;
  margin-top: 40px; }
  footer p {
    margin: 0;
    color: #ffffff; }
  footer i {
    font-size: 30px;
    margin-left: 20px;
    color: #ffffff; }
    footer i:hover {
      color: #176ced; }

/*SECCION 1 INICIO */
@media (max-width: 750px) {
  .promo-text6 h2 {
    font-size: 2rem; }
  .promo-text6 p {
    font-size: 18px; }
  .promo-text6 button {
    font-size: 13px; }
  .promo-img6 img {
    max-width: 160px; } }

@media (max-width: 590px) {
  .promo-text6 h2 {
    font-size: 20px; }
  .promo-text6 p {
    font-size: 12px; }
  .promo-text6 button {
    font-size: 9px; } }

@media (max-width: 530px) {
  .app-promo6 {
    flex-direction: column; }
  .promo-img6 {
    display: none; } }

@media (max-width: 400px) {
  .promo-text6 h2 {
    font-size: 17px;
    margin-bottom: 10px; }
  .promo-text6 p {
    font-size: 10px; }
  .promo-text6 button {
    font-size: 8px;
    padding: 8px 10px; } }

/*SECCION 2 INICIO */
@media (max-width: 1300px) {
  .banner-2 .imagen-1 img {
    height: 400px; }
  .banner-2 .texto-banner-2 h1 {
    font-size: 34px; }
  .banner-2 .texto-banner-2 p {
    font-size: 20px; } }

@media (max-width: 1110px) {
  .banner-2 .imagen-1 img {
    height: 310px; } }

@media (max-width: 955px) {
  .banner-2 {
    flex-direction: column-reverse; } }

@media (max-width: 655px) {
  .banner-2 .imagen-1 img {
    margin-top: -30px; }
  .banner-2 .texto-banner-2 h1 {
    font-size: 26px; }
  .banner-2 .texto-banner-2 p {
    font-size: 15px; } }

@media (max-width: 530px) {
  .banner-2 .imagen-1 img {
    height: 160px; }
  .banner-2 .texto-banner-2 h1 {
    font-size: 20px; }
  .banner-2 .texto-banner-2 p {
    font-size: 11px; } }

/* SECCION 3 - INICIO */
@media (max-width: 655px) {
  .titulo-box h2 {
    font-size: 26px; } }

/* SECCION 4 - INICIO */
@media (max-width: 1515px) {
  .productos-destacados {
    max-width: 740px; } }

@media (max-width: 785px) {
  .productos-destacados {
    max-width: 365px; } }

/* SECCION 5 - INICIO */
@media (max-width: 830px) {
  .promo-text h2 {
    font-size: 2rem;
    margin-bottom: 8px; }
  .promo-text button {
    padding: 6px 12px;
    font-size: 12px; } }

@media (max-width: 580px) {
  .promo-text h2 {
    font-size: 20px; }
  .promo-text button {
    font-size: 7px; } }

/* SECCION 6 -INICIO  */
@media (max-width: 1055px) {
  .label {
    padding: 4px 5px;
    font-size: 13px; } }

@media (max-width: 860px) {
  .label {
    font-size: 9px; } }

@media (max-width: 655px) {
  .collection-section h2 {
    font-size: 26px; } }

/* SECCION 1 Y 2 - PRODUCTOS-1,2,3 */
@media (max-width: 1270px) {
  .promo-img2 img {
    max-width: 440px; } }

@media (max-width: 865px) {
  .promo-img2 img {
    max-width: 300px; }
  .promo-text2 h2 {
    font-size: 40px; } }

@media (max-width: 1471px) {
  .product-grid {
    display: grid center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; } }

@media (max-width: 1135px) {
  .product-grid {
    display: grid center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  .productos_2 {
    max-width: 640px; }
  .promo-text2 {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 10px; } }

@media (max-width: 735px) {
  .product-grid {
    display: grid center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; }
  .productos_2 {
    max-width: 330px; } }

@media (max-width: 650px) {
  .promo-img2 img {
    max-width: 200px; }
  .promo-text2 h2 {
    font-size: 27px; }
  .app-promo2 {
    padding: 20px; } }

@media (max-width: 475px) {
  .app-promo2 {
    flex-direction: column; }
  .promo-text2 {
    padding: inherit; } }

/* SECCION 1 - CONTACTO */
@media (max-width: 1110px) {
  .promo-text3 {
    padding-left: 125px; } }

/* SECCION 2 - CONTACTO */
@media (max-width: 865px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; }
  .contact-block {
    width: 55%; }
  .promo-img3 img {
    max-width: 50%; }
  .promo-text3 h2 {
    font-size: 45px; } }

@media (max-width: 600px) {
  .promo-text3 {
    padding: inherit; }
    .promo-text3 h2 {
      font-size: 35px; }
  .app-promo3 {
    flex-direction: column;
    padding: 15px; } }

@media (max-width: 475px) {
  .social-icons a {
    font-size: 30px; }
  .contact-block {
    font-size: 17px; }
    .contact-block p {
      font-size: 12px; }
  .contact-button {
    padding: 6px 12px;
    font-size: 13px; }
  .contact-form {
    max-width: 300px; }
    .contact-form h2 {
      font-size: 18px; } }
