footer{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 50px;
    background-color: #5cb660;
    margin-top: 40px;
    p{
        margin: 0;
        color: #ffffff;
    }
    i{
        font-size: 30px;
        margin-left: 20px;
        color: #ffffff;
        &:hover{
            color: #FFF027;
        }
    }
}
