/* 1 - Estilo Header GENERAL-Todas las page */
.custom-navbar{
        background-color: #5cb660;
}
.custom-navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    margin-right: 35px;
    font-size: 17px;
    transition: all 0.3s ease;
    &:hover{
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
