/* 1 - Estilo Header GENERAL-Todas las page */
.custom-navbar{
        background-color: #5cb660;
}
.custom-navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    margin-right: 35px;
    font-size: 17px;
}
