/* 2 - Estilo - INICIO */
.app-promo6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../img/stacked-waves-haikei\ \(2\).svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 30px;
}
.promo-text6{
    max-width: 50%;
    text-align: center;
    h2{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.5rem;
    }
    button{
        padding: 10px 20px;
        font-size: 1rem;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: #f0f0f0;
        }
    }
}
.promo-img6{
    display: flex;
    justify-content: center;
    flex: 1; 
    img{
        max-width: 100%;
        height: auto;
        margin-right: 20px;
        margin-left: 20px; 
    }
}

/* 3- Estilo - INICIO */
.banner-2 {
    width: 88%;
    max-width: 1400px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    gap: 40px;
}
.banner-2 .imagen-1 {
    flex: 1;
    img{
        width: auto;
        height:500px;
        border-radius: 10px; 
    }
}
.banner-2 .texto-banner-2{
    flex: 1;
    h1{
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 50px;
        color: #5db662;
        text-align: center;
    }
    p{
        font-weight: 400;
        line-height: 1.6;
        font-size: 25px;
        color: #3b3b3b; 
        text-align: center;
    }
}

/* 4- Estilo Productos Destacados - INICIO */
.titulo-pd{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.titulo-box{
    h2{
        font-size: 2rem;
        color: #333333;
    }
}
/* 4- Estilo Productos Destacados - INICIO */
.productos-destacados {
    width: 85%; 
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px #50505081;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
        h2{
        font-size: 24px;
        margin-bottom: 20px;
        text-align: left;
        margin-left: 20px;
    }
}

.productos-destacados .card {
    display: inline-block;
    width: 18rem;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    img {
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        width: 100%;
        height: 300px; 
    }
}
.productos-destacados .card-body {
    padding: 15px;
}
.productos-destacados .card-text{
    margin-bottom: 10px;
    color: #555;
}
.productos-destacados .card-title{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}
.productos-destacados .btn-primary{
    background-color: #5db662;
    border-color: #5db662;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.productos-destacados .btn-primary:hover {
    background-color: #329c37;
    border-color: #329c37;
}

/* 5- Estilo Seccion 3 - INICIO */
.app-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: url("../img/blob-scene-haikei.svg");
    color: white;
    gap: 10px; 
}

.promo-text {
    width: 50%;
    text-align: center;
    
    h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);    
    }
    button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.promo-img {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
        height: auto;
    }
}


/*- Estilo Seccion 5 - INICIO */
.collection-section {
    text-align: center;
    padding: 2rem;
    h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    }
}

.collection-grid {
    display: grid;
    grid-template-areas:"large small1 small2""large small3 small4";
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
}

    .collection-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease;
        }
        &:hover img {
        transform: scale(1.05);
        }
}

.label {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
.large {
    grid-area: large;
}

/* 6- Estilo Seccion 1 - PRODUCTOS-1 */
.app-promo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../img/stacked-waves-haikei\ \(2\).svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 30px;
}
.promo-text2{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-left: 300px; 
    padding-right: 10px;
    h2{
        font-size: 55px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
}
.promo-img2{
    display: flex;
    justify-content: center;
    flex: 1;
    img{
        max-width: 1000px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px; 
    }
}

/* 7- Estilo Seccion 2 - PRODUCTOS-1 */
.productos_2{
    width: 85%; 
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px #50505081;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product-grid .card{
    display: inline-block;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    img{
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        width: 100%;
        height: 300px; 
    }
}
.product-grid .card-body{
    padding: 15px;
}
.product-grid .card-text{
    margin-bottom: 10px;
    color: #555;
}
.product-grid .card-title{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}
.product-grid .btn-primary{
    background-color: #5db662;
    border-color: #5db662;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.product-grid .btn-primary:hover{
    background-color: #329c37;
    border-color: #329c37;
}

/* 8- Estilo Seccion 3 - PRODUCTOS-1 */
.pagination-lg .page-link{
    color: #333333;
}

.pagination-lg .page-link:hover{
    color: #333333;
}
.pagination-lg .page-item.active .page-link{
    background-color: #329c37; 
    border-color: #329c37; 
}
.pagination{
    display: flex;
    justify-content: center;
}

/* 9- Estilo Seccion 1 - CONTACTO */
.app-promo3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../img/stacked-waves-haikei\ \(2\).svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 30px;
}
.promo-text3{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-left: 300px; 
    padding-right: 10px;
    h2{
        font-size: 55px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
}
.promo-img3{
    display: flex;
    justify-content: center;
    flex: 1;
    img{
        max-width: 100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px; 
    }
}

/* 10- Estilo Seccion 2 - CONTACTO*/
.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.contact-block {
    text-align: center;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h3 {
        font-size: 1.5rem;
        margin: 15px 0;}
    p {
        font-size: 1rem;
        color: #333;}
}
.contact-button {
        margin-top: 10px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #5db662;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
        background-color: #329c37;
        }
}
.contact-icon {
        font-size: 2rem;
}
.social-icons {
        margin-top: 20px;
        a {
        font-size: 50px;
        color: #5db662;
        margin: 0 10px;
        &:hover {
            color: #329c37;
        }
        }
}

/* 9- Estilo Seccion 3 - CONTACTO */
.contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    }

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    form {
        display: flex;
        flex-direction: column;
        fieldset {
        border: none;
        padding: 0;
        legend {
            font-size: 1.2em;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }
        label {
            font-weight: 600;
            margin-top: 10px;
            color: #555;
        }
        input[type="text"],
        input[type="email"],
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 1em;
            color: #333;
            background-color: #f9f9f9;
            &:focus {
            border-color: #007bff;
            outline: none;
            }
        }
        .checkbox-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
            input[type="checkbox"] {
            margin-right: 8px;
            }
            a {
            color: #007bff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            }
        }
        button {
            display: block;
            margin: 15px auto 0 auto;
            padding: 10px;
            background-color: #5db662;
            color: #fff;
            font-size: 1em;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
            background-color: #329c37;
            }
        }
        }
    }
    }
}


/* 11 - Estilo Seccion 1 - NOSOTROS */
.app-promo4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../img/stacked-waves-haikei\ \(2\).svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 30px;
}
.promo-text4{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-left: 300px; 
    padding-right: 10px;
    h2{
        font-size: 55px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
}
.promo-img4{
    display: flex;
    justify-content: center;
    flex: 1;
    img{
        max-width: 380px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px; 
    }
}

/* 12 - Estilo Seccion 2 - NOSOTROS */
.sobre-nosotros {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2rem;
        color: #555;
        line-height: 1.8;
        text-align: left;
    }
}
/* 13 - Estilo Seccion 3 - NOSOTROS */
.datos-breves {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f7f7f7;
    .box {
        width: 20%;
        padding: 20px;
        text-align: center;
        background-color: #eaeaea;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}
/* 14 - Estilo Seccion 4 - NOSOTROS */
.clientes {
    padding: 50px;
    text-align: center;
    h2 {
        margin-bottom: 30px;
    }
    .cliente-img {
        display: inline-block;
        margin: 10px;
        transition: transform 0.3s ease;
        img {
            width: 300px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}

/* 15 - Estilo Seccion 4 - NOSOTROS */
.ubicacion {
    padding: 50px;
    text-align: center;
    h2 {
        margin-bottom: 40px;
        font-size: 2rem;
    }
    .mapa {
        display: flex;
        justify-content: center;       
        iframe {
            border: none;
            width: 90%;
            max-width: 1800px;
            height: 450px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
    }
}

/* 16 - Estilo Seccion 1 - PAGOS */
.app-promo5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-image: url("../img/stacked-waves-haikei\ \(2\).svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 30px;
}
.promo-text5{
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-left: 300px; 
    padding-right: 10px;
    h2{
        font-size: 55px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
}
.promo-img5{
    display: flex;
    justify-content: center;
    flex: 1;
    img{
        max-width: 390px;
        height: auto;
        margin-right: 10px;
        margin-left: 10px; 
    }
}

/* 17 - Estilo Seccion 2 - PAGOS */
.formas-de-pago {
    padding: 50px;
    text-align: center;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
}
.metodos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.metodo{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    text-align: center;
    transition: transform 0.3s;
    img {
        max-width: 150px;
        margin-bottom: 10px;
        }
    h3 {
        margin: 10px 0;
        font-size: 2rem;
        }
    p {
        font-size: 1.1rem;
        color: #666;
        }
    &:hover {
        transform: scale(1.05);
        }
}